<div class="max-w-sm space-y-4">
  <%= kui(:textarea, placeholder: "Disabled textarea", disabled: true) %>
  <%= kui(:textarea, variant: :soft, placeholder: "Disabled soft", disabled: true) %>
  <%= kui(:textarea, variant: :ghost, placeholder: "Disabled ghost", disabled: true) %>
</div>
