<%% # locals: (css_classes: "", **component_options) %>
<%%= appui_tag :div, theme: AppThemes::<%= has_namespace? ? "#{module_prefix}::" : "" %><%= class_name_without_namespace %>, slot: "<%= slot_name %>",
    css_classes: css_classes, **component_options do %>
  <%%= yield %>
<%% end %>
