<%%# locals: (css_classes: "", **component_options) %>
<%%= content_tag :div,
    class: Kiso::Themes::<%= class_name %><%= @current_part.camelize %>.render(class: css_classes),
    data: kiso_prepare_options(component_options, slot: "<%= slot_name %>-<%= @current_part.dasherize %>"),
    **component_options do %>
  <%%= yield %>
<%% end %>
