<%% # locals: (css_classes: "", **component_options) %>
<%%= appui_tag :div, theme: AppThemes::<%= has_namespace? ? "#{module_prefix}::" : "" %><%= sub_part_class_name %>, slot: "<%= sub_part_slot_name %>",
    css_classes: css_classes, **component_options do %>
  <%%= yield %>
<%% end %>
