<%# locals: (placeholder: nil, disabled: false, css_classes: "", **component_options) %>
<%= content_tag :div,
    class: Kiso::Themes::ComboboxInput.render(class: css_classes),
    data: kiso_prepare_options(component_options, slot: "combobox-input"),
    **component_options do %>
  <%= tag.input type: "text",
               placeholder: placeholder,
               autocomplete: "off",
               disabled: (disabled || nil),
               data: { kiso__combobox_target: "input",
                       action: "input->kiso--combobox#filter focus->kiso--combobox#onInputFocus keydown->kiso--combobox#inputKeydown" } %>
  <div class="flex items-center pe-2">
    <%= tag.button type: "button",
                   class: "flex size-6 items-center justify-center rounded-sm text-muted-foreground hover:text-foreground",
                   disabled: (disabled || nil),
                   tabindex: "-1",
                   aria: { label: t("kiso.combobox.toggle") },
                   data: { slot: "combobox-trigger", kiso__combobox_target: "trigger",
                           action: "click->kiso--combobox#toggle" } do %>
      <%= kiso_component_icon(:chevron_down, class: "size-4 pointer-events-none") %>
    <% end %>
  </div>
<% end %>
