/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/app/assets/builds/*
!/app/assets/builds/.keep
/test/dummy/app/assets/builds/*
!/test/dummy/app/assets/builds/.keep
/test/dummy/log/
/test/dummy/tmp/
.overmind.sock
