<div class="max-w-sm space-y-3">
  <%= kui(:button, block: true) { "Full Width Solid" } %>
  <%= kui(:button, block: true, variant: :outline) { "Full Width Outline" } %>
  <%= kui(:button, block: true, variant: :soft) { "Full Width Soft" } %>
</div>
