<div class="max-w-sm space-y-3 p-8">
  <%= kiso(:button, block: true) { "Full Width Solid" } %>
  <%= kiso(:button, block: true, variant: :outline) { "Full Width Outline" } %>
  <%= kiso(:button, block: true, variant: :soft) { "Full Width Soft" } %>
</div>
