<%% # locals: (css_classes: "", **component_options) %>
<%%= content_tag :div,
    class: AppThemes::<%= has_namespace? ? "#{module_prefix}::" : "" %><%= class_name_without_namespace %>.render(class: css_classes),
    data: { slot: "<%= slot_name %>" },
    **component_options do %>
  <%%= yield %>
<%% end %>
