<%# locals: (open: false, size: :default, css_classes: "", **component_options) %>
<%
  # Store the dialog id on the view context so child sub-part partials
  # (_title, _description) can auto-generate matching aria-labelledby /
  # aria-describedby id attributes without requiring the caller to pass
  # the id through each nested kui() call.
  @_kiso_alert_dialog_id = component_options[:id]
  aria = {}
  if @_kiso_alert_dialog_id
    aria[:labelledby] = "#{@_kiso_alert_dialog_id}-title"
    aria[:describedby] = "#{@_kiso_alert_dialog_id}-description"
  end
%>
<%= content_tag :dialog,
    class: Kiso::Themes::AlertDialog.render(class: css_classes),
    role: "alertdialog",
    aria: aria,
    data: kiso_prepare_options(component_options, slot: "alert-dialog",
      controller: "kiso--dialog",
      kiso__dialog_open_value: (open ? true : nil),
      kiso__dialog_dismissable_value: false),
    **component_options do %>
  <div class="<%= Kiso::Themes::AlertDialogContent.render(size: size) %>"
       data-slot="alert-dialog-content"
       data-size="<%= size %>">
    <%= yield %>
  </div>
<% end %>
