<%# locals: (sidebar_open: nil, css_classes: "", **component_options) %>
<% sidebar_open = cookies[:sidebar_open] != "false" if sidebar_open.nil? %>
<%= content_tag :div,
    class: Kiso::Themes::DashboardGroup.render(class: css_classes),
    data: kiso_prepare_options(component_options, slot: "dashboard-group",
                               controller: "kiso--sidebar",
                               sidebar_open: sidebar_open) do %>
  <%= yield %>
  <div data-slot="dashboard-scrim"
       data-kiso--sidebar-target="scrim"
       data-action="click->kiso--sidebar#closeOnMobile"
       aria-hidden="true"></div>
<% end %>
