<%# locals: (css_classes: "", **component_options) %>
<%= content_tag :aside,
    id: "dashboard-sidebar",
    class: Kiso::Themes::DashboardSidebar.render(class: css_classes),
    data: kiso_prepare_options(component_options, slot: "dashboard-sidebar"),
    aria: { label: "Sidebar navigation" },
    **component_options do %>
  <div data-slot="dashboard-sidebar-inner">
    <%= yield %>
  </div>
<% end %>
