<%# locals: (css_classes: "", **component_options) %>
<div class="relative w-full overflow-x-auto" data-component="table" data-table-part="container">
  <%= content_tag :table,
      class: Kiso::Themes::Table.render(class: css_classes),
      **component_options do %>
    <%= yield %>
  <% end %>
</div>
