<div class="text-foreground">
  <div class="space-y-1">
    <h4 class="text-sm font-medium leading-none">Kiso Components</h4>
    <p class="text-sm text-muted-foreground">A UI component library for Rails.</p>
  </div>
  <%= kui(:separator, orientation: orientation, decorative: decorative, css_classes: "my-4") %>
  <div class="flex h-5 items-center space-x-4 text-sm">
    <div>Blog</div>
    <%= kui(:separator, orientation: :vertical) %>
    <div>Docs</div>
    <%= kui(:separator, orientation: :vertical) %>
    <div>Source</div>
  </div>
</div>
