<div class="flex flex-col gap-4">
  <div class="flex items-center gap-2">
    <%= kui(:checkbox, disabled: true, id: :disabled_unchecked) %>
    <label for="disabled_unchecked" class="text-sm text-muted-foreground">Disabled unchecked</label>
  </div>

  <div class="flex items-center gap-2">
    <%= kui(:checkbox, checked: true, disabled: true, id: :disabled_checked) %>
    <label for="disabled_checked" class="text-sm text-muted-foreground">Disabled checked</label>
  </div>
</div>
