<div class="flex items-center gap-2">
  <%= kiso(:checkbox, color: color, checked: checked, disabled: disabled, id: :playground) %>
  <label for="playground" class="text-sm text-foreground">Accept terms and conditions</label>
</div>
