<%# locals: (shortcut: "k", css_classes: "", **component_options) %>
<%= content_tag :dialog,
    class: Kiso::Themes::CommandDialog.render(class: css_classes),
    data: kiso_prepare_options(component_options, slot: "command-dialog",
      controller: "kiso--command-dialog",
      kiso__command_dialog_shortcut_value: shortcut),
    **component_options do %>
  <div class="<%= Kiso::Themes::CommandDialogContent.render %>">
    <%= yield %>
  </div>
<% end %>
