<div class="text-foreground flex items-center justify-center p-8">
  <%= kui(:button, variant: :outline) do %>
    Accept
    <%= kui(:kbd, css_classes: "translate-x-0.5") { "⏎" } %>
  <% end %>
</div>
