<div class="text-foreground flex flex-col items-center gap-4">
  <p class="text-muted-foreground text-sm">
    Use
    <%= kui(:kbd, :group) do %>
      <%= kui(:kbd) { "Ctrl + B" } %>
      <%= kui(:kbd) { "Ctrl + K" } %>
    <% end %>
    to open the command palette
  </p>
</div>
