<div class="max-w-sm space-y-4">
  <%= kui(:field) do %>
    <%= kui(:field, :label, for: :avatar) { "Avatar" } %>
    <%= kui(:input, type: :file, id: :avatar, name: :avatar) %>
    <%= kui(:field, :description) { "Upload a profile picture. Max 5MB." } %>
  <% end %>
</div>
