<div class="flex gap-4 items-center text-foreground">
  <%= kui(:toggle_group, type: :single, variant: :outline) do %>
    <%= kui(:toggle_group, :item, value: "all", variant: :outline, pressed: true, "aria-label": "Toggle all") do %>
      All
    <% end %>
    <%= kui(:toggle_group, :item, value: "missed", variant: :outline, "aria-label": "Toggle missed") do %>
      Missed
    <% end %>
  <% end %>
</div>
