<div class="max-w-lg space-y-3">
  <%= kui(:alert, color: :info) do %>
    <%= kui(:alert, :title) { "New components are available." } %>
  <% end %>

  <%= kui(:alert, color: :warning, variant: :outline, icon: "triangle-alert") do %>
    <%= kui(:alert, :title) { "Your trial expires in 3 days." } %>
  <% end %>
</div>
