<%# locals: (value:, checked: false, disabled: false, css_classes: "", **component_options) %>
<%= content_tag :div,
    class: Kiso::Themes::DropdownMenuRadioItem.render(class: css_classes),
    role: "menuitemradio",
    tabindex: "-1",
    data: kiso_prepare_options(component_options, slot: "dropdown-menu-radio-item",
      kiso__dropdown_menu_target: "radioItem",
      action: "click->kiso--dropdown-menu#selectRadioItem",
      value: value,
      disabled: (disabled ? "true" : nil)),
    aria: {checked: checked, disabled: (disabled || nil)},
    **component_options do %>
  <span class="pointer-events-none absolute left-2 flex size-3.5 items-center justify-center"
        data-slot="dropdown-menu-item-indicator"
        <% unless checked %>hidden<% end %>>
    <%= kiso_component_icon(:circle, class: "size-2 fill-current") %>
  </span>
  <%= yield %>
<% end %>
