<div class="max-w-xs">
  <%= kui(:stats_card, variant: variant) do %>
    <%= kui(:stats_card, :label) { label } %>
    <%= kui(:stats_card, :value) { value } %>
    <%= kui(:stats_card, :description) { description } %>
  <% end %>
</div>
