<div class="flex gap-4 items-center p-8">
  <%= kiso(:badge, variant: :primary, size: :sm) { "Small" } %>
  <%= kiso(:badge, variant: :primary, size: :md) { "Medium" } %>
  <%= kiso(:badge, variant: :primary, size: :lg) { "Large" } %>
</div>
