<div class="flex gap-4 items-center text-foreground">
  <%= kui(:toggle, variant: :outline, size: :sm, "aria-label": "Toggle bookmark") do %>
    <%= kiso_icon("bookmark") %>
    Bookmark
  <% end %>
</div>
