<div class="flex flex-col gap-4 text-foreground">
  <% %i[primary secondary success info warning error neutral].each do |color| %>
    <div class="flex items-center gap-3">
      <%= kui(:switch, color: color, checked: true, id: color) %>
      <label for="<%= color %>" class="text-sm capitalize"><%= color %></label>
    </div>
  <% end %>
</div>
