<div class="flex items-center gap-3 text-foreground">
  <%= kui(:switch, color: color, size: size, checked: checked, disabled: disabled, id: :playground) %>
  <label for="playground" class="text-sm">Airplane Mode</label>
</div>
