<div class="flex flex-col gap-4 text-foreground">
  <div class="flex items-center gap-3">
    <%= kui(:switch, size: :sm, checked: true, id: :size_sm) %>
    <label for="size_sm" class="text-sm">Small</label>
  </div>

  <div class="flex items-center gap-3">
    <%= kui(:switch, size: :md, checked: true, id: :size_md) %>
    <label for="size_md" class="text-sm">Medium (default)</label>
  </div>
</div>
