<div class="flex items-center gap-4">
  <%= kui(:skeleton, css_classes: "h-12 w-12 rounded-full") %>
  <div class="flex flex-col gap-2">
    <%= kui(:skeleton, css_classes: "h-4 w-[250px]") %>
    <%= kui(:skeleton, css_classes: "h-4 w-[200px]") %>
  </div>
</div>
