<div class="flex flex-col gap-3">
  <%= kui(:skeleton, css_classes: "h-4 w-[250px]") %>
  <%= kui(:skeleton, css_classes: "h-4 w-[200px]") %>
  <%= kui(:skeleton, css_classes: "h-4 w-[150px]") %>
  <%= kui(:skeleton, css_classes: "h-12 w-12 rounded-full") %>
</div>
